* {
	box-sizing: border-box;
	font-family: "Plus Jakarta Sans", sans-serif;
}

body,
html,
#root,
#app {
	height: 100%;
	margin: 0;
}

#home {
	height: 100%;
	padding: 5rem 0;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

#home .home-title {
  color: #095a1d;
	font-size: 4rem;
}

.button-container {
	width: 100%;
}

.start-button {
	background: #3cbe7d;
	border: 0px solid #03290d;
	border-radius: 50%;
	color: #095a1d;
	cursor: pointer;
	height: 8rem;
	width: 8rem;
}

#questions {
  padding: 5rem;

  display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#questions .question-title {
  color: #095a1d;
  font-size: 2rem;
}

#questions .question-item {
  font-size: 1rem;
}

#questions .answer__container {
  margin: 1rem;
}

.fill-button {
  background: #095a1d;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 1rem 2rem;
}

.score {
  color: #b67b0d;
  margin: 2rem 0;
}
