* {
	box-sizing: border-box;
	font-family: "Plus Jakarta Sans", sans-serif;
}

body,
html,
#root,
#app {
	height: 100%;
	margin: 0;
}

.page-title {
	color: #095a1d;
	font-size: 2rem;
}

.fill-button {
	background: #095a1d;
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding: 1rem 2rem;
}

.outline-button {
	background: white;
	border-radius: 8px;
	border: 1px solid #095a1d;
	color: #095a1d;
	cursor: pointer;
	font-weight: bold;
	padding: 1rem 2rem;
}

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.input-container > label {
	margin: 0.4rem 0;
	font-size: 0.8rem;
}

.input-container > input {
	width: 100%;
	padding: 0.2rem;
	border: none;
	border-bottom: 1px solid #095a1d;
}
